body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(78, 56, 4);
    background-color: bisque;

}
h1 {
    font: 1em sans-serif;ont-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(74, 61, 29);
    font-size: 200px;
    text-align: center;

}